<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#00D388">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Andrezon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost:3000/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.youtube.com/">YouTube</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Some Cool Links
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="https://usna.edu/">USNA</a></li>
            <li><a class="dropdown-item" href="https://www.amazon.com/">My REAL ECommerce Store</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Mystery Link</a></li>
          </ul>
        </li>
        
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="alert alert-warning" role="alert">Under Construction -- Coming Soon to a Internet Near You!</div>

<%=@products.count%> products and counting! Check back soon!
<h2> There are <%= @cart.length %> items in your trolley</h2>
<hr/>

  <% @products.each do |product| %>
      <div class="card" style="width: 18rem;">
      <%= image_tag product.image, size: "130x130" %>
      <div class="card-body">
        <h5 class="card-title"><%=product.name%></h5>
        <p class="card-text"><%=product.description%> <hr/> $<%=product.price%> <hr/> <%=product.stock%> in stock</p>
      <%= link_to "Purchase", buy_path(product), class: "btn btn-primary" %>
      </div>
      </div>
  <% end %>


<a href="/checkout">Checkout Line</a>


